:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --roboto-font: 'Roboto', sans-serif;
  --raleway-font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--roboto-font);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.black {
  color: #000000;
}

.white {
  color: var(--white-color);
}

/* ========== HEADER ==========*/
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo__link {
  font-family: var(--raleway-font);
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav__link {
  color: var(--primary-text-color);
}

.active {
  color: var(--accent-text-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.contacts__link,
.nav__link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-text-color);
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  transform: translateY(25%);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
}

/* =========== HERO ==========*/
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--white-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__btn,
.subs__btn,
.send__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  color: var(--white-color);
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.06em;
  line-height: 1.87;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ========= ADVANTAGES ======== */
.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.advantage__item {
  min-width: 270px;
}

.advantage__pic {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}

.advantage__title {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*  ========SERVICES======== */
.services {
  padding-bottom: 94px;
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__item {
  position: relative;
}

.services__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-family: var(--roboto-font);
  color: var(--white-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  transform: translateY(0);
}

/* ======= TEAM ======= */
.team {
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__worker {
  background-color: #ffffff;
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.worker__discription {
  margin-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.worker__name {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.worker__post {
  color: var(--secondary-text-color);
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.worker__social {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.social__network {
  fill: currentColor;
}

/* ========= REGULAR CUSTOMERS ======== */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__list {
  display: flex;
  justify-content: space-between;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__logo {
  fill: currentColor;
}

.customers__link:hover,
.customers__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

/* ====== FOOTER ======== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  justify-self: start;
  align-items: baseline;
}

.footer__address {
  width: 231px;
}

/* ====== FOOTER SOCIAL ======== */

.footer__social {
  margin-left: 70px;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-social__list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: #ffffff10;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.footer__title {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--roboto-font);
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address {
  margin-top: 20px;
}

.address__map {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ======== SUBSCRIPTION ========= */
.subs__form {
  display: block;
  margin-left: 93px;
  width: 570px;
}
.subs__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.icon__send {
  margin-left: 10px;
  fill: currentColor;
}
.subscription {
  display: flex;
}
.subs__input {
  padding: 15px 16px;
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subs__input:focus {
  outline: 1px solid var(--accent-text-color);
}
.subs__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ====== MODAL BUTTON ======== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 700ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1);

  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--white-color);
  fill: 212121;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-text-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/* ====== FORM ======== */
.form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.form__field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field.comment {
  margin-bottom: 20px;
}
.field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.field__input {
  min-width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input.textarea {
  height: 120px;
  padding: 12px 16px;
}

.field__input.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
/* .field-input:hover, */
.field__input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}
/* .field-input:hover + .icon-input, */
.field__input:focus + .icon__input {
  fill: var(--accent-text-color);
}
.icon__input {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: 212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__check {
  margin-bottom: 30px;
}
.check__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.check__label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__input:checked + .check__label::before {
  background-color: var(--accent-text-color);
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.policy__link {
  text-decoration: underline;
  color: var(--accent-text-color);
  margin-left: 5px;
}
.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====== PORTFOLIO BUTTONS ======== */
.filters {
  display: flex;
  width: 620px;
  min-height: 39px;
  margin: auto;
  margin-bottom: 50px;
  justify-content: space-between;
}

.filters__item {
  display: block;
  margin: 0 auto;
}

.filters__button {
  padding: 6px 22px;
  font-family: var(--roboto-font);
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover,
.filters__button:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ====== PORTFOLIO PROJECTS ======== */
.portfolio .container {
  padding-bottom: 94px;
  padding-top: 94px;
}
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects__list {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
}

.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__discription {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__name {
  color: var(--primary-text-color);
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
}

.projects__title {
  color: var(--secondary-text-color);
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: 0.03;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .overlay,
.projects__link:focus .overlay {
  transform: translateY(0);
}
